.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}
}
.card-padding{
padding-right: 20px;
padding-left:20px;	
}
.filter{
	margin-top: 50px;
	border:1px solid #f1f1f1;
	
}
.products{
	margin: 0 auto; /* Added */
        float: none; /* Added */
}
.overlay{
	padding-top:100px;
}
.unihero-content{
	max-height:250px;
	max-width:1920px;
}
@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}
	}
}
#overlay{
	position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   z-index:1;
}
.padding-15p{
	padding-bottom: 15px;
}
.font-color-hero{
color:white;
text-shadow: 0 0 3px black
}
.font-color-uni-hero{
	color:	#CBC3E3;
	text-shadow: 0 0 3px black
	}

	.menu-text-color{
		color: black!important;
	}